.album {
    font-family: 'Josefin Slab', serif;
    background-color: #000;
    color: #fff;
}

#album-body {
    background-color: #000;
    color: #fff;
}

.container {
    background-color: #000;
    font-size: 1.25em;
}


#album-title {
    font-size: 3em;
}
#album-cover-art img {
    height: 50%;
    padding: 15px 25px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

#play-pause {
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
}

#play-pause:hover {
    background-color: #fff;
    color: #000;
}

#time-control {
    display: inline-flex;
}

.controls {
    margin-top: -25%;
}

#song-list {
    position: relative;
    margin-top: 30%;
    font-size: 1.5em;
}

.song-actions Button {
    background-color: #aaa;
    font-size: 1.5em;
}
