.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url(/assets/images/cover/pexels-photo-374866.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000;
    color: #fff;
}

.hero-content .hero-title {
    margin-top: 10%;
}
.point-image {
    width: 100%;
    height: 200px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;

}

.point-image-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    widows: 100%;
}

.point:hover .point-image-top {
    display: inline;
    width: 100%;
}
