.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  background-color: #111;
  margin-bottom: 0;
  padding: 0.5px;
}

.navbar a {
  font-size: 1.5em;
  color: #fff;
}

.navbar img {
  height: 110%;
  width: 110%;
}
