.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.blocjams-logo {
  margin-left: -200%; 
  width: 125px;
  height: 75px;
}

#nav-item {
  flex-direction:row !important;
}

#nav-item li {
  color: #e83378;

}
.nav-title {
  font-size: 2em;
}

.nav .navbar-nav {
  right: 10px;
}